body {
    background: #111;
    font-family: 'American Typewriter';
}

.canvas-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    width: 500px;
    height: 500px;
    background: #111;
    overflow: visible;
}

canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}

.mapstagram {
    width: 100px;
    height: 100px;
    background: #111111 url(../img/camera.png) no-repeat 50% 50%;
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -51px;
    border-radius: 60px;
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s linear;
    -moz-transition: -moz-transform .3s linear;
    -o-transition: -o-transform .3s linear;
    -ms-transition: -ms-transform .3s linear;
    transition: transform .3s linear;
    border: 3px dotted #3579C3;
}

.mapstagram:hover {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.other {
    width: 60px;
    height: 60px;
    background: #111111;
    position: absolute;
    bottom: -30px;
    border-radius: 40px;
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s linear;
    -moz-transition: -moz-transform .3s linear;
    -o-transition: -o-transform .3s linear;
    -ms-transition: -ms-transform .3s linear;
    transition: transform .3s linear;
    border: 3px dotted #3579C3;
    font-size: 40px;
    line-height: 60px;
    color: #3579C3;
    text-align: center;
}

.other:hover {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.position {
    left: 90px;
}

p.credits {
    position: fixed;
    bottom: 0;
    right: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: 100;
    text-align: right;
}